:root {
--background:#200ab2;
--orange:#e4202d;
--pastel:#FFF;
--nightblue:#0e1538;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #868e96;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #868e96;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div.menu{
    display: flex;
    width: 250px;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border: 5px solid var(--white);
    margin-top: 5em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
}
.menu{
    display: flex;
    position: relative;
    margin: auto;
    text-decoration: none;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--pastel);
    font-family: 'Nunito Sans', sans-serif;
    -webkit-text-stroke: 3px var(--pastel);
}
main {
    margin: 50px 15em 0px 15em;
}
main .titre {
    text-transform: uppercase;
    margin: 50px 0 50px 50px;
    color: var(--orange);
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    text-shadow: 
    .1vw 0vw .1vw rgb(243, 79, 90),
    .1vw 0vw .1vw rgb(243, 79, 90),
    
    .4vw 0vw 10vw #f62c3a,

    .1vw 0vw 1vw rgb(228, 32, 45),
    .50vw 0vw 20vw rgb(228, 32, 45);
}
p2 {
    text-align: justify;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.pdf {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
main .btn-black {
    text-decoration: none;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--white);
    border-radius: 20px;
    width: 600px;
    height: 50px;
    margin-right: 60px;
    font-size: 19px;
    color: var(--pastel);
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    font-weight: 700;
    margin-bottom: 30px;
}
main .btn-black:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--pastel);
    font-size: 22px;
}
#check {
    display: none;
}
.checkbtn {
    font-size: 40px;
    color: white;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}
p1 {
    position: relative;
    font-size: 19.5px;
    text-decoration: none;
}
@media screen and (max-width: 1006px) {
    .clock {
        display: none; 
    }
    .checkbtn {
        display: flex;
    }
    ul {
        display: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(47, 51, 177);
        text-align: center;
        left: 100%;
        transition: all .5s;
    }
    ul li {
        display: block;
        margin-top: 60px;
    }
    ul1 {
        display: none;
    }
    li1 {
        display: none;
    }
    span.material-symbols-outlined {
        display: none;
    }
    li:hover #projet {
        border: none;
    }
    #auteur {
        margin: 30px 0px 20px 0px;
    }
    .profil img {
        margin-left: 50px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media screen and (max-width: 440px) {
    .profil img {
        margin-left: 30px;
    }
    .checkbtn {
        margin-right: 30px;
    }
}
@media screen and (max-width: 375px) {
    .profil img {
        margin-left: 20px;
    }
    .checkbtn {
        margin-right: 20px;
    }
}
@media screen and (max-width: 354px) {
    .profil img {
        margin-left: 10px;
    }
    .checkbtn {
        margin-right: 10px;
    }
    #auteur {
        margin-top: 30px;
        margin-left: 0px;
    }
}