:root {
--background:#200ab2;
--background1:#FFF;
--orange:#e4202d;
--pastel:#ffcb9c;
--nightblue:#0e1538;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #868e96;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #868e96;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: var(--background);
}
#fond {
    position: absolute;
    width: 100%;
    height: 8em;
    z-index: 10;
}
top {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,1);
    z-index: 99999;
}
p{
    margin-bottom: 10px;
    position: relative;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2.5px var(--background1);
    border-radius: 10px;
    border: 3px solid var(--white);
    padding: 2px 10px 2px 10px;
    background-color: rgba(0, 0, 0, 0.4);
}
.profil {
    display: inline-block;
    align-items: center;
    margin-left: 5px;
    margin-top: 13px;
    margin-right: 6px;
}
.profil img {
    position: relative;
    margin-left: 6px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid var(--white);
    z-index: 11;
}
.nom  {
    color: transparent;
    -webkit-text-stroke: 2.5px var(--orange);
}
#auteur{
    position: relative;
    display: inline-block;
    z-index: 11;
}
ul {
    position: relative;
    display: inline-block;
    width: 100%;
    border-top:3px solid var(--white) ;
    border-bottom: 3px solid var(--gray);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    z-index: 11;
}
ul li {
    display: inherit;
}
ul li #lien {
    position: relative;
    font-size: 22px;
    margin-right: 30px;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2.5px var(--white);
}
ul li #lien::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0%;
    overflow: hidden;
    transition: .5s;
    border-right: 4px solid var(--clr);
    -webkit-text-stroke: 3px var(--clr);
}
ul li #lien:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 2px var(--clr));
}
ul #projet a{ 
    text-decoration: none;
    font-size: 0;
}
li:hover #projet {
    display: block;
    position: absolute;
    overflow: hidden;
    margin-top: 1px;    
    border-left: 3px solid var(--clr);
    width: 15em;
    height: 3.7em;
    transition: .3s;
} 
li:hover #projet a {
    display: flex;
    text-decoration: none;
    color: var(--pastel);
    font-size: 21px;
    margin-bottom: 4px;
    background-color: var(--gray-dark);
    border-radius: 10px;
    width: 10.5em;
    line-height: 1.3em;
    padding-left: 1px;
    margin-left: 5px;
    transition: all .6s ease-out;;
}
li:hover #projet a:hover {
    color: var(--orange);
    transition: .4s;
}
.material-symbols-outlined {
    margin-top: -5px;
}
li .contact {
    margin-left: -5px;
}
container {
    position: relative;
    display: inline-block;
    width: 100%;
}
h2{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20vh;
    width: 600px;
    height: 400px;
    font-size: 5em;
    background: var(--white);
    text-transform: uppercase;
    overflow: hidden;
    color: var(--dark);
    border-radius: 16px;
}
h2::before{
    content :'';
    position: absolute;
    width: 700px;
    height: 300%;
    background-image: conic-gradient(var(--orange),transparent 100deg);
    animation: animate3 3s linear infinite;
}
h2::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: var(--background);
    border-radius: 14px;
}
@keyframes animate3 {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(-360deg);
    }
}
div .btn{
    text-decoration: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 80px;
    color: var(--orange);
    margin: 2px 2px 2px 2px;
    text-transform: uppercase;
    border: 3px solid var(--white);
    border-radius: 0;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--white);
    transition: 0.3s;
}
a.btn{
    margin: auto;
    margin-top: 200px;
}
a.btn:hover{
    background-color: transparent;
    color: var(--pastel);
}
h3{
    position: absolute;
    margin: auto;
    text-decoration: none;
    display: flex;
    margin-top: -240px;
    left: 36%;
    text-transform: uppercase;
    font-size: 4.5em;
    color: transparent;
    -webkit-text-stroke: 2px var(--white);
    z-index: 10;
}
h3::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    height: 100%;
    color: var(--orange);
    -webkit-text-stroke: 0vw  var(--white);
    border-right: 4px solid var(--orange);
    overflow: hidden;
    animation: animate6 5s linear infinite;
}
@keyframes animate6 {
    0%,10%,100%
        {
            width: 0%;
        }
    60%,80%
        {
            width: 28%;
        }
}
main1{
    position: absolute;
    left: 4%;
    margin-top: 15%;
    border-left: 7px solid var(--orange);
    border-bottom: 2px solid var(--orange);
    padding: 0px 0px 3px 18px;
}
main1 .main1 {
    text-decoration: none;
    color: transparent; 
    font-size: 3em;
    color: var(--pastel);
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}
main1 .main1 .gras {
    letter-spacing: 0px;
    color: var(--orange);
}
.clock {
    position: absolute;
    width: 350px;
    height: 350px;
    display: flex;
    left: 75%;
    top: 50%;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 3px solid rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.1),
                inset 0 -15px 15px rgba(255,255,255,0.06),
                0 15px 15px rgba(0,0,0,0.4),
                inset 0 15px 15px rgba(0,0,0,0.4);    
    z-index: 11;
    
}
.clock:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    z-index: 100;
}
.needle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 2px;
}
.hr {
    width: 8px;
    height: 25%;
    background-color: var(--orange);
    border-radius: 50px;
}
.min {
    width: 6px;
    height: 35%;
    background-color:rgba(255, 255, 255, .5);
    border-radius: 50px;
}
.sec {
    width: 3px;
    height: 40%;
    background-color:rgba(255, 255, 255, .5);
    border-radius: 50px;
}
#bar {
    z-index: 1000;
}
