:root {
--background:#200ab2;
--orange:#b85700;
--pastel:#FFF;
--nightblue:#0e1538;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #868e96;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #868e96;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div.menu{
    display: flex;
    width: 250px;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border: 5px solid var(--white);
    margin-top: 8.65em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
}
.menu{
    display: flex;
    position: relative;
    margin: auto;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--pastel);
    font-family: 'Nunito Sans', sans-serif;
    -webkit-text-stroke: 2px var(--pastel);
}